@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul,
li {
  list-style: none;
}

/* 폰트색상 */
.Black {
  color: #021d25;
}
.Dark {
  color: #222222;
}
.Gray {
  color: #7b7b7b;
}
.lightGray {
  color: #c9c9c9;
}
.Green {
  color: #3aaa35;
}
.White {
  color: #fff;
}
@media screen and (min-width: 1025px) {
  .pc_only {
    display: block;
  }
  .tab_only,
  .mo_only {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pc_only,
  .mo_only {
    display: none;
  }
  .tab_only {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .pc_only,
  .tab_only {
    display: none;
  }
  .mo_only {
    display: block;
  }
}

@media screen and (min-width: 1601px) {
  .inner_container {
    max-width: 1520px;
    margin: 0 auto;
  }
}
/* 768-1600 패딩설정 */
@media screen and (min-width: 768px) and (max-width: 1600px) {
  .inner_container {
    padding: 0 32px;
  }
}
/* -767 패딩설정 */
@media screen and (max-width: 767px) {
  .pc_only,
  .tab_only {
    display: none;
  }
  .inner_container {
    padding: 0 20px;
  }
}

/* 폰트 사이즈 */
.intro_title {
  font-size: 72px;
  font-weight: 700;
  color: #021d25;
}

.title {
  font-size: 42px;
  font-weight: 300;
}

.desc {
  font-size: 24px;
  font-weight: 400;
}

.text {
  font-size: 24px;
}

/* tab 폰트사이즈 */
@media screen and (max-width: 1024px) {
  .intro_title {
    font-size: 60px;
  }

  .title {
    font-size: 32px;
  }

  .desc {
    font-size: 20px;
  }

  .text {
    font-size: 16px;
  }
}
/* mo 폰트사이즈 */
@media screen and (max-width: 767px) {
  .intro_title {
    font-size: 36px;
  }

  .title {
    font-size: 24px;
  }

  .desc {
    font-size: 18px;
  }
}

/* underline */
@keyframes titUnderline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.tit_underline {
  position: relative;
}
.tit_underline.active:before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 12px;
  background: #3cb371;
  animation-name: titUnderline;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  z-index: -1;
}

.line {
  width: 180px;
  margin: 0 auto;
  border-top: 1px solid #000;
  margin-top: 60px;
  animation-name: subLine;
  animation-duration: 1.2s;
  animation-delay: 0.9s;
  /* animation-fill-mode: forwards; */
}

@media screen and (max-width: 1024px) {
  .line {
    width: 100px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .line {
    width: 80px;
    margin-top: 30px;
  }
  .tit_underline.active:before {
    bottom: 5px;
    height: 8px;
  }
}
