@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
}
a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

.inner_container {
  max-width: 1520px;
  margin: 0 auto;
}
 /* 768-1600 패딩설정 */
@media screen and (min-width: 768px) and (max-width: 1600px) {
  .inner_container {
    padding: 0 32px;
  }
}
 /* -767 패딩설정 */
@media screen and (max-width: 767px) {
  .inner_container {
    padding: 0 20px;
  }
}

/* 폰트 사이즈 */
.intro_title {
  font-size: 72px;
  font-weight: 700;
 }

.title {
  font-size: 42px;
  font-weight: 500;
 }

.desc {
  font-size: 32px;
  font-weight: 400;
 }

.text {
  font-size: 24px;
 }

 /* tab 폰트사이즈 */
@media screen and (max-width: 1024px) {
  .intro_title {
    font-size: 60px;
  }

  .title {
    font-size: 32px;
  }

  .desc {
    font-size: 20px;
  }

  .text {
    font-size: 16px;
  }

}
/* mo 폰트사이즈 */
@media screen and (max-width: 767px) {
  .intro_title {
    font-size: 36px;
  }

  .title {
    font-size: 24px;
  }

  .desc {
    font-size: 18px;
  }
}

