@import url("./common.css");

.inquire {
  padding: 180px 0 220px;
  text-align: center;
}

.inquire .intro_title {
  position: relative;
  overflow: hidden;
}

/* .inquire .intro_title::after {
  content: "";
  height: 1px;
  width: 180px;
  background-color: #000000;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
} */

.inquire .flex_ratate_box {
  position: relative;
}

.inquire .inquire_flex {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.inquire .inquire_flex .img_box {
  width: 40%;
}

.inquire .inquire_flex .img_box img {
  width: 100%;
}

.inquire .inquire_flex .inquire_plug {
  width: 50%;
  background-color: #ccc;
}

.inquire .flex_rotate_box {
  position: relative;
}

.inquire .flex_rotate_box .rotate {
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 30%;
}

.inquire .flex_rotate_box .rotate img {
  animation: rotate_circle 15s linear infinite;
  width: 100%;
}

@keyframes rotate_circle {
  100% {
    transform: rotate(-360deg);
  }
}

@media screen and (max-width: 1024px) {
  .inquire {
    overflow-x: hidden;
    padding: 120px 0;
  }

  .inquire .intro_title::after {
    width: 100px;
  }

  .inquire .inquire_flex {
    flex-direction: column;
    margin-top: 156px;
  }

  .inquire .inquire_flex .img_box {
    width: 100%;
  }

  .inquire .inquire_flex .img_box img {
    width: 100%;
  }

  .inquire .inquire_flex .inquire_plug {
    width: 100%;
    height: 500px;
  }

  .inquire .flex_rotate_box .rotate {
    left: 100%;
    top: 10%;
    width: 40%;
    height: 40%;
  }
}

@media screen and (max-width: 767px) {
  .inquire {
    padding: 80px 0;
  }

  .inquire .intro_title::after {
    width: 80px;
    bottom: -50px;
  }

  .inquire .inquire_flex {
    margin-top: 100px;
  }

  .inquire .inquire_flex .inquire_plug {
    height: 300px;
  }

  .inquire .flex_rotate_box .rotate {
    display: none;
  }
}

