header {
  height: 60px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
}
nav {
  padding-right: 257px;
}
header .inner_container {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.depth1 {
  display: flex;
  justify-content: space-around;
}
.depth1 > li {
  position: relative;
  width: 108px;
  text-align: center;
}
.depth1 > li > a {
  font-size: 16px;
  line-height: 60px;
}
.depth1 .depth2 {
  position: absolute;
  top: 60px;
  left: 0;
  width: 113px;
  padding: 12px 24px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  display: none;
}
.depth1 .menu_list:hover .depth2 {
  display: block;
}
.depth1 .depth2 > li > a {
  font-size: 15px;
  margin: 8px 0;
}

/* main_visual */
.main_visual {
  display: flex;
  padding: 250px 0;
}
.main_visual .text_area {
  text-align: center;
}
@keyframes stroke {
  0% {
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    fill: rgba(2, 29, 37, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 2;
  }
  70% {
    fill: rgba(2, 29, 37, 0);
    stroke: rgba(54, 95, 160, 1);
  }
  80% {
    fill: rgba(2, 29, 37, 0);
    stroke: rgba(54, 95, 160, 1);
  }
  100% {
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    fill: rgba(2, 29, 37, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-width: 0;
  }
}

.main_visual .inner_container {
  width: 100%;
}
.main_visual .intro_title {
  height: 105px;
  margin-bottom: 10px;
}
.intro_title > svg {
  width: 100%;
  height: 105px;
  animation: stroke 3s alternate;
  fill: #021d25;
}
.intro_title {
  position: relative;
}
.intro_title .underline {
  position: absolute;
  bottom: 0;
  left: 123px;
  width: 910px;
  height: 13px;
  background: #3cb371;
  z-index: -1;
}
