/* 회사소개시작 */
html,
body {
  --webkit-appearance: none;
}
.wrap {
  width: 100%;
  overflow: hidden;
  line-height: 1.3;
}

img {
  width: 100%;
}

.inner_container {
  max-width: 1520px;
  margin: 0 auto;
}

.pc_only {
  display: block;
}

.tab_only {
  display: none;
}

.new_only {
  display: none;
}

table td,
table th {
  padding: 0;
}

.main .text_box {
  margin-top: 180px;
  text-align: center;
}

.main .text_box .intro_title {
  line-height: 88px;
}

.banner {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 200px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.banner img {
  width: 100%;
}

.green_box {
  width: 100%;
  height: 530px;
  background-color: #3aaa35;
  margin-top: -244px;
}

.green_box .green_txt {
  color: #fff;
  padding-top: 286px;
  text-align: center;
  line-height: 61px;
}

.meaning {
  padding: 200px 0;
}

.meaning .meaning_title {
  text-align: center;
  color: #021d25;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 60px;
}

.meaning .meaning_flex {
  display: flex;
  justify-content: space-between;
  height: 450px;
}

.meaning .meaning_flex .mean_left {
  width: calc(50% - 10px);
}

.meaning .meaning_flex .mean_left .mean_img_box {
  height: 100%;
}

.meaning .meaning_flex .mean_left .mean_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meaning .meaning_flex .mean_right {
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.meaning .meaning_flex .mean_right .right_txt_box {
  font-size: 24px;
  margin-bottom: 60px;
}

.meaning .meaning_flex .mean_right .right_txt_box .weight_txt {
  font-weight: 600;
}

.meaning .meaning_flex .mean_right .green_txt {
  font-size: 28px;
  font-weight: 600;
}

.meaning .meaning_flex .mean_right .green_txt .green01 {
  color: #00d190;
}

.meaning .meaning_flex .mean_right .green_txt .green02 {
  color: #007f5c;
}

.meaning .meaning_flex .mean_right .green_txt .green03 {
  color: #04933d;
}

.direction {
  padding-bottom: 200px;
}

.direction .direction_title {
  text-align: center;
  color: #021d25;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 60px;
}

.direction .direction_flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.direction .direction_flex .direct_box {
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.direction .direction_flex .direct_box .direct_flex_box {
  display: flex;
  justify-content: space-between;
}

.direction .direction_flex .direct_box .direct_flex_box .img_box {
  width: 160px;
  height: 160px;
  position: relative;
}

.direction .direction_flex .direct_box .direct_flex_box .img_box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.direction .direction_flex .direct_box .direct_flex_box .box01 {
  background-color: #98efb0;
}

.direction .direction_flex .direct_box .direct_flex_box .box02 {
  background-color: #a7d3bf;
}

.direction .direction_flex .direct_box .direct_flex_box .box03 {
  background-color: #99d7a3;
}

.direction .direction_flex .direct_box .direct_flex_box .direct_txt {
  display: flex;
  align-items: center;
  width: calc(100% - 240px);
}

.direction
  .direction_flex
  .direct_box
  .direct_flex_box
  .direct_txt
  .direct_txt_title {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
}

.direction
  .direction_flex
  .direct_box
  .direct_flex_box
  .direct_txt
  .direct_txt_desc {
  font-size: 24px;
  font-weight: 300;
}

/* 두번째섹션 */

/* .introduction_box {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.introduction_tit_box {
  width: 42%;
}

.introduction_tit_box .introduction_tit {
  font-size: 72px;
  font-weight: bold;
  color: #021d25;
  line-height: 88px;
}

.introduction_txt_box {
  width: 58%;
  line-height: 35px;
  color: #222222;
  font-size: 24px;
}

.introduction_txt_box .introduction_txt2,
.introduction_txt_box .introduction_txt3 {
  margin-top: 30px;
}

.introduction_txt_box .introduction_txt4 {
  margin-top: 108px;
  padding-bottom: 300px;
  font-weight: bold;
  text-align: right;
} */

/* @media all and (min-width: 1025px) and (max-width: 1400px) {
  .new_only {
    display: block;
  }
} */

@media screen and (max-width: 1203px) and (min-width: 1024px) {
  .pc_only {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .pc_only {
    display: none;
  }

  .tab_only {
    display: block;
  }

  .new_only {
    display: none;
  }

  .main .text_box {
    margin-top: 120px;
  }

  .main .text_box .intro_title {
    line-height: 68px;
  }

  .banner {
    max-width: 704px;
    margin-top: 96px;
  }

  .green_box {
    height: 377px;
    margin-top: -188px;
  }

  .green_box .green_txt {
    font-size: 32px;
    line-height: 36px;
    padding-top: 228px;
  }

  /* .introduction_box {
    display: block;
    margin-top: 100px;
  }

  .introduction_tit_box {
    width: 100%;
  }

  .introduction_tit_box .introduction_tit {
    font-size: 60px;
    line-height: 68px;
  }

  .introduction_txt_box {
    width: 100%;
    line-height: 24px;
    margin-top: 40px;
    font-size: 20px;
  }

  .introduction_txt_box .introduction_txt4 {
    margin-top: 70px;
    padding-bottom: 120px;
    text-align: left;
    font-size: 24px;
  } */

  .meaning {
    padding: 100px 0;
  }

  .meaning .meaning_title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .meaning .meaning_flex {
    flex-direction: column;
    height: unset;
  }

  .meaning .meaning_flex .mean_left {
    width: 100%;
  }

  .meaning .meaning_flex .mean_left .mean_img_box img {
    width: 100%;
  }

  .meaning .meaning_flex .mean_right {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }

  .meaning .meaning_flex .mean_right .right_txt_box {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .meaning .meaning_flex .mean_right .green_txt {
    font-size: 24px;
  }

  .direction {
    padding-bottom: 150px;
  }

  .direction .direction_title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .direction .direction_flex .direct_box .direct_flex_box .direct_txt {
    width: calc(100% - 190px);
  }

  .direction
    .direction_flex
    .direct_box
    .direct_flex_box
    .direct_txt
    .direct_txt_title {
    font-size: 24px;
  }

  .direction
    .direction_flex
    .direct_box
    .direct_flex_box
    .direct_txt
    .direct_txt_desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .pc_only {
    display: none;
  }

  .tab_only {
    display: none;
  }

  .new_only {
    display: none;
  }

  .main .text_box {
    margin-top: 80px;
  }

  .main .text_box .intro_title {
    line-height: 46px;
  }

  .banner {
    max-width: 100%;
    margin-top: 50px;
  }

  .green_box {
    height: inherit;
    padding: 40px 0;
    margin-top: -5px;
  }

  .green_box .green_txt {
    font-size: 16px;
    line-height: 24px;
    padding-top: 0px;
    margin-top: 0px;
  }

  /* .introduction_box {
    margin-top: 50px;
  }

  .introduction_tit_box .introduction_tit {
    font-size: 24px;
    line-height: 32px;
  }

  .introduction_txt_box {
    margin-top: 20px;
    font-size: 16px;
  }

  .introduction_txt_box .introduction_txt4 {
    margin-top: 50px;
    padding-bottom: 80px;
    font-size: 18px;
  } */

  .meaning {
    padding: 50px 0;
  }

  .meaning .meaning_title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .meaning .meaning_flex .mean_right .right_txt_box {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .meaning .meaning_flex .mean_right .green_txt {
    font-size: 20px;
  }

  .direction {
    padding-bottom: 150px;
  }

  .direction .direction_title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .direction .direction_flex .direct_box .direct_flex_box {
    flex-direction: column;
  }

  .direction .direction_flex .direct_box .direct_flex_box .img_box {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .direction .direction_flex .direct_box .direct_flex_box .img_box img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }

  .direction .direction_flex .direct_box .direct_flex_box .direct_txt {
    width: 100%;
    text-align: center;
    display: unset;
  }

  .direction
    .direction_flex
    .direct_box
    .direct_flex_box
    .direct_txt
    .direct_txt_title {
    font-size: 20px;
  }

  .direction
    .direction_flex
    .direct_box
    .direct_flex_box
    .direct_txt
    .direct_txt_desc {
    font-size: 16px;
  }
}

/* 회사소개끝 */

/* /브랜드시작 */
.cont {
  visibility: hidden;
  max-height: 0;
}

.cont.is_on {
  visibility: visible;
  max-height: inherit;
}

.tab_cont {
  padding-top: 80px;
}

.tab_cont .title {
  text-align: center;
  font-weight: 700;
}
.tab_cont .cont .text {
  font-size: 18px;
}
.tab_cont .cont p {
  line-height: 28px;
}

.tab_cont .contents {
  display: block;
}

.tab_cont .contents img {
  cursor: auto;
}

.text_box .line {
  margin-top: 58px;
}

.remark {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #ed1c24;
}

.project_area {
  margin: 200px 0 180px;
}

.project_tab .tab_menu {
  display: flex;
  width: fit-content;
  border: 1px solid #d9d9d9;
  border-bottom: none;
}

.project_tab .tab_menu .tab_list {
  background: #f8f8f8;
  color: #555555;
}

.project_tab .tab_menu .tab_list > a {
  position: relative;
  padding: 22px 65px;
  font-size: 24px;
}

.project_tab .tab_menu .tab_list.on > a {
  color: #3aaa35;
  background: rgba(58, 170, 53, 0.12);
}

.project_tab .tab_menu .tab_list.on > a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #3aaa35;
}

.tab_list.b_right {
  border-right: 1px solid #d9d9d9;
}

.tab_list.active {
  background: rgba(58, 170, 53, 0.12);
  border-bottom: 3px solid #3aaa35;
  color: #3aaa35;
}

.project_tab .tab_cont {
  border: 1px solid #d9d9d9;
}

.project_tab .cont_text {
  text-align: center;
}

.project_tab .cont_text .title {
  font-weight: 700;
  font-size: 48px;
}

.project_tab .cont_text .desc {
  margin: 80px 0 40px;
  font-size: 36px;
  line-height: inherit;
}

.project_tab .cont_text .b_text {
  font-weight: 700;
}

.project_tab .contents {
  padding: 0 40px 80px;
}

.contents > div {
  margin-top: 80px;
}

.contents > div .title {
  font-size: 36px;
}

.cont_banner .text {
  margin-top: 20px;
}
.cont_banner .text,
.cont_chart .text {
  text-align: center;
}
.cont_chart .chart-wrap {
  max-width: 600px;
  margin: 0 auto;
}
.cont_chart .text {
  margin-top: 20px;
}
.chart-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.chart-wrap .chart_box {
  width: 70%;
  max-width: 600px;
}

.chart-wrap .chart_desc {
  width: 30%;
}

.chart-wrap .chart_desc ul {
  display: flex;
  flex-direction: column;
}

.chart-wrap .chart_desc ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.chart-wrap .chart_desc ul li > div {
  margin-right: 10px;
}

.chart-wrap .chart_desc span {
  display: block;
}

.chart-wrap .chart_desc li .char_color {
  height: 20px;
  width: 70px;
}

.chart-wrap .chart_desc .list01 .char_color {
  background-color: rgb(255, 138, 194);
}

.chart-wrap .chart_desc .list02 .char_color {
  background-color: rgb(255, 159, 64);
}

.chart-wrap .chart_desc .list03 .char_color {
  background-color: rgb(153, 102, 255);
}

.chart-wrap .chart_desc .list04 .char_color {
  background-color: rgb(75, 192, 192);
}

.chart-wrap .chart_desc .list05 .char_color {
  background-color: rgb(255, 206, 86);
}

.chart-wrap .chart_desc .list06 .char_color {
  background-color: rgb(54, 162, 235);
}

.chart-wrap .chart_desc .list07 .char_color {
  background-color: rgb(255, 99, 132);
}

.cart_title {
  text-align: center;
  font-size: 15px;
  color: #555555;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .chart-wrap {
    flex-direction: column;
  }

  .chart-wrap .chart_box {
    width: 100%;
    margin-bottom: 20px;
  }

  .chart-wrap .chart_desc {
    width: 100%;
  }

  .chart-wrap .chart_desc ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
    row-gap: 5px;
  }

  .chart-wrap .chart_desc ul li > div {
    margin-right: 6px;
  }
}

@media screen and (max-width: 560px) {
  .chart-wrap .chart_desc li .char_color {
    height: 12px;
    width: 12px;
    border-radius: 50%;
  }

  .chart-wrap .chart_desc ul li {
    margin-bottom: 5px;
  }
}
.cont_plant {
  padding: 60px;
  background: #eaffeb;
}

.cont_plant .title {
  padding-top: 0px;
  font-size: 36px;
}

.cont_plant .plant_func {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: 60px auto 0;
}

.cont_plant .plant_func .func_list {
  width: calc((100% / 3) - 34px);
}

.cont_plant .plant_func .func_list.m-right {
  margin-right: 50px;
}

.cont_plant .plant_func .func_list.m-top {
  margin-top: 40px;
}

.cont_plant .plant_func .func_list.mr-0 {
  margin-right: 0;
}

.cont_plant .plant_func .green,
.cont_plant .plant_func .func_tit {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
}

.cont_plant .plant_func .func_tit {
  position: relative;
}

.cont_plant .plant_func .func_tit:before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 60px;
  height: 1px;
  background: #3cb371;
}

.cont_plant .plant_func .text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  color: #7b7b7b;
}

.cont_check {
  padding: 0 120px;
}

.cont_check .check_text {
  text-align: center;
}
.check_text .desc {
  font-size: 18px;
  line-height: 28px;
}

.cont_check .check_table {
  width: 100%;
  margin-top: 80px;
  border-collapse: collapse;
  font-size: 18px;
}

.check_table th,
.check_table tr td {
  padding: 10px 0;
}

.check_table th {
  color: #fff;
  background: #7b7b7b;
  font-weight: normal;
  text-align: center;
  border-right: 1px solid #ccc;
}

.check_table th.bg-green {
  background: #3aaa35;
  color: #fff;
}

.check_table td.bg-Lgreen {
  background: #f4ffe5;
}

.check_table tr td {
  text-align: center;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #ccc;
  border-left: none;
}

.check_table tr td:last-child {
  border-right: none;
}

.check_table .w-40 {
  width: 40%;
}

.check_table .w-20 {
  width: 20%;
}

.cont_model .model_list {
  display: flex;
  margin-top: 100px;
  padding-bottom: 80px;
  gap: 60px;
}

.cont_model .model_list .model_img {
  text-align: center;
  min-height: 300px;
}

.model_struct .remark {
  display: block;
  margin-top: 20px;
}

.model_list > li {
  width: 50%;
}

.model_list .list_text {
  margin-top: 65px;
}

.model_list .list_title {
  font-size: 36px;
}

.model_list .text {
  margin-top: 20px;
  font-size: 24px;
}

.model_list .list_btn {
  margin-top: 30px;
}

.list_btn .btn.green {
  border: 1px solid #3aaa35;
  border-radius: 25px;
  background: #fff;
  padding: 0;
  font-weight: 500;
}

.list_btn .btn.green a {
  padding: 0 20px;
  line-height: 40px;
  font-size: 18px;
}

.list_btn .btn:hover {
  background: #3aaa35;
  transition: all 0.2s;
}
.list_btn .btn:hover a {
  color: #fff;
}

.model_module {
  padding: 40px 0 80px;
  border-top: 1px solid #ccc;
}

.model_module .module_contain {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
}

.module_contain .f_module {
  width: calc(50% - 20px);
}

.module_contain .module_left {
  border-collapse: collapse;
}

.module_contain .module_left td {
  border: 1px solid #ccc;
}

.module_contain .module_left .module_text {
  padding: 20px 0;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
}

.module_contain .module_left .module_img {
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.module_contain .module_left .module_img.f_img img {
  max-width: 60px;
  max-height: 65px;
  height: 100%;
}

.module_contain .module_left .module_img.fit_img img {
  max-width: inherit;
  max-height: inherit;
  width: fit-content;
  height: 100%;
}

.module_contain .module_left .module_img img {
  max-width: 90px;
  max-height: 90px;
  height: 100%;
}
.module_contain .module_right {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
}
@media screen and (max-width: 1200px) and (min_width: 1024px) {
  .module_contain .module_right {
    justify-content: space-evenly;
  }
}

.model_struct .bot_model {
  margin-top: 63px;
  text-align: center;
}

.bot_model .bot_text {
  margin-top: 40px;
  font-size: 18px;
}

.bot_model img {
  width: auto;
}

.cont_intro .intro_text .text {
  text-align: center;
}

.cont_intro .intro_circle {
  margin-top: 50px;
}

.intro_circle .circle_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.intro_circle .circle_wrap p {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  width: 100%;
  height: 150px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 50%;
  border: 1px solid #000;
}

.circle_wrap p.circle_sp {
  line-height: 1;
}
.circle_wrap span {
  width: 25px;
}

.intro_circle .circle_text {
  text-align: center;
  font-size: 18px;
}
@media screen and (max-width: 1263px) {
  .intro_circle .circle_wrap {
    gap: 20px;
  }
}
@media screen and (max-width: 1183px) {
  .intro_circle .circle_wrap p {
    width: 130px;
    height: 130px;
  }
}
@media screen and (max-width: 1083px) {
  .intro_circle .circle_wrap {
    gap: 10px;
  }
  .intro_circle .circle_wrap p {
    width: 120px;
    height: 120px;
  }
}

.cont_hydrop {
  margin-top: 80px;
}

.cont_hydrop .hydrop_wrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 60px;
}

.hydrop_wrap .hydrop_item.item_right {
  width: 45%;
  text-align: center;
}

.hydrop_wrap .hydrop_item.item_left {
  width: 55%;
}

.cont_hydrop .hydrop_item .title {
  text-align: left;
}

.cont_hydrop .hydrop_item .text {
  margin: 40px 0;
}

.cont_hydrop .hydrop_list {
  display: flex;
  flex-wrap: wrap;
}

.cont_hydrop .hydrop_list .list_flex {
  display: flex;
  align-items: center;
  gap: 20px;
  width: calc(100% / 3);
}

.list_flex img {
  width: auto;
}

.list_flex.m-top {
  margin-top: 30px;
}

.list_flex .list_tag {
  font-size: 18px;
}

.cont_type .type_text .text {
  padding: 40px 0;
  text-align: center;
}

.cont_type .type_swiper {
  overflow: hidden;
  padding: 0 5px;
}

.cont_type .type_slide {
  height: 280px;
}

.cont_type .type_slide .slide_wrap {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #c2c2c2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

.cont_type .type_slide .slide_name {
  border-top: 1px solid #c2c2c2;
  line-height: 40px;
}

.cont_type .type_slide img {
  display: block;
}
@media screen and (min-width: 1560px) {
  .module_right.f_module {
    width: 40%;
  }
}

/* 브랜드 태블릿 */
@media screen and (max-width: 1024px) {
  .remark {
    font-size: 14px;
    line-height: 24px;
    color: #ed1c24;
  }

  .project_area {
    margin: 60px 0 120px;
  }

  .project_tab .tab_menu {
    width: 100%;
  }

  .project_tab .tab_cont {
    padding-top: 60px;
  }

  .project_tab .tab_menu .tab_list {
    width: 25%;
    text-align: center;
  }

  .project_tab .tab_menu .tab_list > a {
    padding: 0;
    font-size: 20px;
    line-height: 60px;
  }

  .project_tab .cont_text .title {
    font-size: 36px;
  }
  .tab_cont .cont p {
    line-height: 24px;
  }
  .tab_cont .cont .text {
    font-size: 16px;
  }

  .project_tab .cont_text .desc {
    margin: 50px 0 40px;
    font-size: 28px;
  }

  .project_tab .contents {
    padding: 0 30px 80px;
  }

  .contents .cont_text {
    padding: 0 30px;
  }

  .contents > div {
    margin-top: 50px;
  }

  .contents > div .title {
    font-size: 28px;
  }

  .cont_banner .text {
    margin-top: 15px;
  }

  .cont_chart .text {
    margin-top: 30px;
  }

  .cont_plant {
    padding: 40px 20px;
  }

  .cont_plant .plant_func {
    margin-right: -25px;
  }

  .cont_plant .plant_func .func_list {
    width: calc((100% / 3) - 25px);
  }

  .cont_plant .plant_func .func_list.m-right {
    margin-right: 25px;
  }

  .cont_plant .plant_func .green,
  .cont_plant .plant_func .func_tit {
    font-size: 20px;
  }

  .cont_plant .plant_func .text {
    margin-top: 20px;
    font-size: 15px;
  }

  .cont_check {
    padding: 0 50px;
  }

  .cont_check .desc {
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .cont_check .check_table {
    margin-top: 60px;
    font-size: 16px;
  }

  .check_table th,
  .check_table tr td {
    padding: 7px 0;
  }

  .check_table tr td:last-child {
    border-right: none;
  }

  .check_table .w-40 {
    width: 40%;
  }

  .check_table .w-20 {
    width: 20%;
  }

  .cont_model .model_list {
    margin-top: 80px;
    padding-bottom: 60px;
    gap: 50px;
  }

  .cont_model .model_list .model_img {
    max-height: auto;
    height: auto;
  }

  .model_struct .model_img .remark {
    font-size: 15px;
    letter-spacing: -0.5px;
  }

  .model_list .list_text {
    margin-top: 40px;
  }

  .model_list .list_title {
    font-size: 26px;
  }

  .model_list .text {
    margin-top: 10px;
    font-size: 18px;
  }

  .model_list .list_btn {
    margin-top: 30px;
  }

  .list_btn .btn {
    border: 1px solid #3aaa35;
    border-radius: 25px;
    background: #fff;
  }

  .list_btn .btn.green a {
    padding: 0 20px;
    line-height: 40px;
    font-size: 18px;
  }

  .list_btn .btn:hover {
    background: #3aaa35;
    color: #fff;
    transition: all 0.5s;
  }

  .model_module {
    padding: 40px 0 50px;
  }

  .model_module .module_contain {
    flex-direction: column;
  }

  .module_contain .f_module {
    margin: 0 auto;
    width: 90%;
  }

  .module_contain .module_left .module_text {
    padding: 10px 0;
    font-size: 16px;
  }

  .model_struct .bot_model {
    margin-top: 30px;
  }

  .bot_model img {
    width: 100%;
  }

  .bot_model .bot_text {
    margin-top: 20px;
    font-size: 18px;
  }

  .cont_intro .intro_circle {
    margin-top: 40px;
  }

  .intro_circle .circle_wrap {
    width: 65%;
    margin: 0 auto 40px;
    gap: 20px;
  }
  .intro_circle .circle_wrap p {
    width: 130px;
    height: 130px;
    font-size: 24px;
  }

  .intro_circle .circle_text {
    font-size: 16px;
  }

  .cont_hydrop .hydrop_wrap {
    flex-direction: column;
    gap: 40px;
  }

  .cont_hydrop .hydrop_item .text {
    margin: 30px 0 40px;
  }

  .hydrop_wrap .hydrop_item.item_left {
    width: 100%;
  }

  .hydrop_wrap .hydrop_item.item_right {
    width: 100%;
  }

  .contents .cont_type {
    margin-top: 60px;
  }

  .cont_type .type_text .text {
    padding: 30px 0;
  }

  .cont_type .type_slide {
    height: 300px;
  }

  .project_tab .cont2 .contents {
    padding: 0 30px 0;
  }
}
@media screen and (max-width: 950px) {
  .intro_circle .circle_wrap {
    width: 85%;
  }
}

/* 브랜드 모바일 */
@media screen and (max-width: 767px) {
  .project_tab .tab_menu {
    flex-wrap: wrap;
  }

  .project_tab .tab_menu .tab_list {
    width: 50%;
  }

  .project_tab .tab_menu .tab_list.bot_border {
    border-bottom: 1px solid #ccc;
  }

  .project_tab .tab_menu .tab_list > a {
    font-size: 16px;
    line-height: 50px;
  }

  .project_tab .tab_cont {
    padding-top: 50px;
  }

  .project_tab .contents {
    padding: 0 0 60px;
  }

  .project_tab .cont_wrap {
    padding: 0 10px;
  }

  .project_tab .cont_text .title {
    font-size: 28px;
  }

  .project_tab .cont_text .desc {
    margin: 30px 0 20px;
    font-size: 20px;
  }

  .contents .cont_text {
    padding: 0 10px;
  }

  .contents > div {
    margin-top: 30px;
  }

  .cont_banner .text {
    margin-top: 10px;
  }

  .contents > div .title {
    font-size: 24px;
  }

  .list_btn .btn.green a {
    font-size: 16px;
  }

  .cont_plant {
    padding: 35px 20px;
  }

  .cont_plant .plant_func {
    margin-top: 50px;
    justify-content: center;
    margin-right: 0;
    gap: 20px;
  }

  .cont_plant .plant_func .func_tit {
    margin-top: 5px;
  }

  .cont_plant .plant_func .func_list {
    width: 100%;
  }

  .cont_plant .plant_func .func_list.m-right {
    margin-right: 0;
  }

  .cont_plant .plant_func .func_list.m-top {
    margin-top: 0;
  }

  .cont_check {
    padding: 0;
  }

  .cont_check .check_table {
    margin-top: 40px;
    font-size: 12px;
  }

  .check_table .w-40 {
    width: 30%;
  }

  .check_table .w-20 {
    width: calc((100% - 30%) / 3);
  }

  .check_table th,
  .check_table tr td {
    padding: 5px 0;
  }

  .cont_model .model_list {
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
  }

  .cont_model .model_list > li {
    width: 100%;
  }
  .model_module {
    padding: 40px 0;
  }

  .model_module .module_contain {
    flex-direction: column;
  }
  .module_contain .module_left {
    width: 90%;
  }
  .module_contain .module_left .module_text {
    font-size: 15px;
  }

  .remark {
    font-size: 15px;
  }

  .cont_model .model_list .model_img {
    min-height: 240px;
  }

  .model_list .list_text {
    width: 90%;
    margin-top: 0;
    margin: 35px auto 0;
  }

  .model_list .list_title {
    font-size: 20px;
  }

  .model_list .text {
    font-size: 16px;
  }
  .model_struct .remark {
    margin-top: 0;
  }

  .bot_model .bot_text {
    font-size: 16px;
  }

  .intro_circle .circle_wrap {
    width: 100%;
    gap: 10px;
  }

  .intro_circle .circle_wrap p {
    max-width: 70px;
    height: 70px;
    font-size: 16px;
  }
  .circle_wrap span {
    width: 20px;
  }

  .cont_hydrop .hydrop_item .text {
    margin: 20px 0 30px;
  }

  .list_flex .list_tag {
    font-size: 16px;
  }

  .cont_hydrop .hydrop_list {
    flex-direction: column;
    gap: 15px;
  }

  .cont_hydrop .hydrop_list .list_flex {
    width: 100%;
    gap: 20px;
  }

  .list_flex.m-top {
    margin-top: 0;
  }

  .contents .cont_type {
    margin-top: 40px;
  }

  .cont_type .type_text .text {
    padding: 20px 0;
  }

  .cont_type .type_slide {
    height: 320px;
  }

  .project_tab .cont2 .contents {
    padding: 0 0 20px;
  }
}
@media (max-width: 576px) {
  .module_contain .module_left .module_img {
    height: 60px;
  }
  .module_contain .module_left .module_img img {
    max-width: 60px;
    height: 100%;
  }
  .module_contain .module_left .module_img.f_img img {
    max-width: 40px;
    max-height: 45px;
  }
}
@media screen and (max-width: 351px) {
  .intro_circle .circle_wrap {
    gap: 7px;
  }
}
.project_area .accrodion-wrap .accrodion-container {
  border-top: 1px solid #ccc;
}

.project_area .accrodion-wrap .accrodion-container:first-child {
  border-top: 1px solid #222;
}

.project_area .accrodion-wrap .accrodion-label {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px 40px 40px;
  cursor: pointer;
}

.project_area .accrodion-wrap .accrodion-txt {
  font-size: 24px;
  display: flex;
  flex: 1;
}

.project_area .accrodion-wrap .accrodion-txt .point {
  font-size: 36px;
  padding-right: 50px;
}

.project_area .accrodion-wrap .accrodion-txt span:last-child {
  padding-top: 12px;
}

.project_area .accrodion-wrap .accrodion-label svg {
  margin-left: 40px;
  width: 30px;
  margin-top: 20px;
  transition: all ease 0.3s;
}

.project_area .accrodion-wrap .accrodion-label .point {
  color: #3aaa35;
}

.project_area .accrodion-wrap .accrodion-container.on .accrodion-label {
  background: #f8f8f8;
}

.project_area .accrodion-wrap .accrodion-conts {
  padding: 0 50px 0 40px;
  /* display: none; */
  background: #f8f8f8;
  transition: all ease 0.3s;
  max-height: 0;
  overflow: hidden;
}

.project_area .accrodion-wrap .accrodion-conts .accrodion-txt {
  color: #7b7b7b;
  margin: 40px 0;
}

.project_area .accrodion-wrap .accrodion-container.on .accrodion-label svg {
  transform: rotate(-180deg);
}

.project_area .accrodion-wrap .accrodion-container.on .accrodion-conts {
  max-height: 200px;
}

@media (max-width: 1024px) {
  .project_area .accrodion-wrap .accrodion-label {
    padding: 30px;
  }

  .project_area .accrodion-wrap .accrodion-txt {
    font-size: 20px;
  }

  .project_area .accrodion-wrap .accrodion-txt span:last-child {
    padding-top: 8px;
  }

  .project_area .accrodion-wrap .accrodion-txt .point {
    font-size: 30px;
    padding-right: 30px;
  }

  .project_area .accrodion-wrap .accrodion-label svg {
    width: 24px;
    margin-left: 30px;
    margin-top: 15px;
  }

  .project_area .accrodion-wrap .accrodion-conts {
    padding: 0 30px;
  }

  .project_area .accrodion-wrap .accrodion-conts .accrodion-txt {
    margin: 30px 0;
  }
}

@media (max-width: 767px) {
  .project_area .accrodion-wrap .accrodion-label {
    padding: 15px 10px;
  }

  .project_area .accrodion-wrap .accrodion-txt {
    font-size: 15px;
  }

  .project_area .accrodion-wrap .accrodion-txt span:last-child {
    padding-top: 6px;
  }

  .project_area .accrodion-wrap .accrodion-txt .point {
    font-size: 22px;
    padding-right: 15px;
  }

  .project_area .accrodion-wrap .accrodion-label svg {
    width: 16px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .project_area .accrodion-wrap .accrodion-conts {
    padding: 0 15px;
  }

  .project_area .accrodion-wrap .accrodion-conts .accrodion-txt {
    margin: 15px 0;
  }
}

.project_area .case_gallery {
  display: flex;
  flex-wrap: wrap;
}

.project_area .cont4 .title {
  margin-bottom: 80px;
}

.project_area .case_gallery .item {
  margin-right: 25px;
  margin-bottom: 30px;
  cursor: pointer;
  width: calc((100% - 50px) / 3);
}

.project_area .case_gallery .item:nth-child(3n) {
  margin-right: 0;
}

.project_area .case_gallery .item p {
  font-size: 20px;
  text-align: center;
}

.project_area .case_gallery .item img {
  width: 100%;
}

.project_area .gallery_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 100;
}

.project_area .gallery_modal.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project_area .gallery_modal .gallery_slide_wrap {
  position: relative;
  width: 90%;
  height: 100%;
  max-width: 1000px;
  max-height: 90%;
  margin: 2.5% auto;
  /* display: flex;
      justify-content: center;
      align-items: center; */
}

.project_area .gallery_modal .gallery_slide_wrap ul {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.project_area .gallery_modal .item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 90%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}

.project_area .gallery_modal .item.active {
  opacity: 1;
  visibility: visible;
}

.project_area .gallery_modal .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project_area .gallery_modal .item p {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.gallery_modal {
  position: relative;
}

.gallery_modal .close {
  position: absolute;
  top: 0;
  right: 3.4759vw;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 101;
}

.gallery_modal .close img {
  width: 100%;
}

.gallery_modal .prev {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 15px;
  cursor: pointer;
  transform: translateY(-50%);
}

.gallery_modal .next {
  z-index: 5;
  position: absolute;
  top: 50%;
  right: 15px;
  cursor: pointer;
  transform: translateY(-50%);
}

@media (max-width: 1024px) {
  .project_area .cont4 .title {
    margin-bottom: 50px;
  }

  .project_area .case_gallery .item {
    width: calc((100% - 24px) / 2);
    margin-right: 24px;
  }

  .project_area .case_gallery .item:nth-child(2n) {
    margin-right: 0;
  }

  .project_area .case_gallery .item:nth-child(3n) {
    margin-right: 24px;
  }

  .gallery_modal .close {
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 767px) {
  .project_area .cont4 .title {
    margin-bottom: 30px;
  }

  .project_area .gallery_modal .gallery_slide_wrap {
    max-height: 50%;
  }

  .project_area .case_gallery .item {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 24px;
  }

  .project_area .case_gallery .item:last-child {
    margin-bottom: 0;
  }

  .project_area .case_gallery .item p {
    font-size: 16px;
  }

  .gallery_modal .close {
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
  }

  .gallery_modal .next {
    width: 24px;
  }

  .gallery_modal .next img {
    width: 100%;
  }

  .gallery_modal .prev {
    width: 24px;
  }

  .gallery_modal .prev img {
    width: 100%;
  }

  .project_area .gallery_modal .item p {
    font-size: 16px;
  }
}

/* //브랜드끝 */

/* /스토리시작 */

.story_list {
  margin-top: 52px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.board li {
  width: calc(33.3% - 20px);
}

.board li img {
  width: 100%;
  margin-top: 48px;
}

.board li .story_tit {
  margin-top: 27px;
  color: #222222;
  font-size: 21px;
}

.board li .date {
  font-size: 16px;
  color: #7b7b7b;
  margin-top: 10px;
}

.page-wrap {
  margin-top: 120px;
  margin-bottom: 180px;
}
